<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AIA Application Test Automation Test Suite">

<listeners>
	<listener class-name="org.aia.utility.GenerateReportsListener"></listener>
</listeners>

	<test name="AIA Application Test Cases">
		<classes>
			<class name="org.aia.testcases.membership.TestJoin_Membership"></class>
			<class name="org.aia.testcases.membership.TestDIPJoin_Membership"></class>
			<class name="org.aia.testcases.membership.TestDIPRenew_Membership"></class>
			<class name="org.aia.testcases.membership.TestRenew_Membership"></class>
		</classes>
	</test>
</suite>